
.highlight {
    color: orange;
}


.description {
    text-align: justify;
}

.text{
    text-align: center;
    margin-left: 300px;
}
.logo-img {
    width: 250px;
}

.highlight {
    color: orange;
}


.description {
    text-align: justify;
}


.logo-img {
    width: 250px;
}
