@media (max-width: 640px) {
    .empimg {
        height: 100px !important;
        width: 100px !important;
        margin-left: 10px;
        border-radius: 200px !important;
    }
    .horizontal {
        display: none;
    }

    .email {
        display: none;
    }
    .act {
        height: 30px;
    }
    .custom-height {
        height: auto;
    }
    .vertical-line {
        display: none;
    }
    .custom-height2 {
        height: auto;
    }
    .div22 {
        display: flex !important;
        flex-direction: row !important;
        gap: 9px !important;
        margin-top: 20px;
    }
    .div-1 {
        margin-top: 5px;
    }

    .div3 {
        height: auto;
    }
    .div4 {
        padding-top: 20px;
        height: auto;
    }
}
.fonclr {
    border: 1px solid #ffc100 !important;
}
