.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 2s ease, opacity 2s ease;
}
.navbar .navbar-toggler{
    border: none !important;
    outline: none !important;
}
.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active{
    border: none !important;
    outline: none !important;
    box-shadow: none;
}
.navbar img {
    width: 112px;
}
@media (max-width: 640px) {
    .navbar img {
        width: 40px;
    }
}
@media (max-width: 992px) {
    .navbar img {
        width: 60px;
    }
}
@media (max-width: 1280px) {
    .navbar img {
        width: 80px;
    }
    .navbar {
        height: 70px;
    }
    .topBg::before {
        position: relative;
    }
    .topBg {
        height: 71px;
        background-color: rgba(10, 10, 10, 0.8);
        position: absolute;
        top: 0;
    }
}

.navbar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.navbar.visible {
    transform: translateY(0);
    opacity: 1;
}
.navbar .dropdown-menu,
.custom-dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: none;
    margin: 0;
}
@media (max-width: 992px) {
    .navbar .dropdown-menu,
    .custom-dropdown .dropdown-menu {
        background-color: rgb(255, 255, 255, 0.5) !important;
        color: white;
        border: none;
    }
    .navbar-nav {
        background-color: rgba(10, 10, 10, 0.8);
    }
}
.custom-dropdown .dropdown-item {
    font-weight: 600;
    color: #0a0a0a;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #ffc100;
}

#navlink + .dropdown-menu .dropdown-toggle:first-of-type,
#navlink + .dropdown-menu .dropdown-item {
    color: #0a0a0a;
    font-weight: 500;
}
#navlink + .dropdown-menu .dropdown-toggle:first-of-type,
#navlink + .dropdown-menu .dropdown-item {
    color: #0a0a0a;
    font-weight: 600;

    text-align: center;
}

#navlink + .dropdown-menu .dropdown-toggle:first-of-type:hover,
#navlink + .dropdown-menu .dropdown-item:hover {
    background-color: #ffc107;
    color: #0a0a0a;
}

#navlink {
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
    color: white;
    width: max-content;
    padding: auto;
    margin: 4px;
}

#navlink:hover {
    color: #ffc100;
}

#navlink::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 15px);
    margin: auto;
    height: 2px;
    bottom: 0;

    background-color: #f5cf10;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

#navlink:hover::before {
    transform: scaleX(1);
}

#navlink.active,
.dropdown.active {
    color: #ffc100;
    font-weight: bold;
}

#navlink.active::before,
.dropdown.active::before {
    transform: scaleX(1);
}

.dropdown-menu .nav-link {
    color: inherit;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.dropdown-menu .nav-link:hover {
    color: #ffc100;
}

.dropdown-menu .nav-link.active {
    color: #ffc100;
    font-weight: bold;
}
#navlink:hover::before {
    transform: scaleX(1);
}

#navlink.active,
.dropdown.active,
.active #navlink {
    color: #ffc100;
    font-weight: bold;
}

#navlink.active::before,
.dropdown.active::before,
.active #navlink::before {
    transform: scaleX(1);
}
@media (max-width: 640px) {
    .navbar, .navbar .container-fluid ,.navbar .container-fluid {
        height: 50px !important;
    }
    .navbar .container-fluid img{
        height: 30px !important;
        width: 50px !important;
    }
    .navbar .navbar-toggler-icon {
 height: 25px;
        width: 25px;
    }
    .navbar{
        padding: 0 !important;
    }

}
@media (max-width: 992px) {
    #navlink {
        margin: auto;
        font-size: 12px;
        padding: 4px;
    }
    #navlink::before {
        width: 100%;
    }
    .dropdown-menu .dropdown-item,
    .dropdown-menu .dropdown-toggle {
        margin: auto;
        font-size: 12px !important;
        padding: 2px !important;
    }
    .navbar .nav-item {
        margin: 0;
    }
}
