/* service page */
.bg_common{
    background-color: #FFC100;
  }
  .bgSections {
    background: url('../images/bgservises2.svg') no-repeat ;
    background-size: cover; 
    width: 100%;
    height: 100%; 
  }
  