


.formInput{
    margin-bottom: 1rem;
}
.formInput .form-control {
    border-radius: 11.55px;
    border: 0.2px solid rgba(10, 10, 10, 0.82);
    height: 53.4px;
  }
  
  .formInput .form-control:focus {
    border-color: rgba(10, 10, 10, 0.82);
    box-shadow: 0 0 0 0.2rem rgba(131, 133, 134, 0.25);
  }
  
  .formInput .form-control:focus:invalid {
    box-shadow: none;
  }
  
  .formInput .form-control::placeholder {
    color: black;
  }
  
  .place {
    padding: 0.75rem; /* Matches the p-3 Tailwind utility */
    border-radius: 11.55px; /* Matches the rounded-lg Tailwind utility */
  }

  .user-type-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem; /* Matches px-2 */
    margin-right: 0; /* Matches mr-0 */
  }
  
  @media (min-width: 1024px) {
    .user-type-container {
      margin-right: 24rem; /* Matches lg:mr-96 */
    }
   
  }
  
  .user-type-label {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Matches space-x-2 */
  }
  
  .user-type-radio {
    /* Add any custom radio input styles here */
  }
  
  .user-type-text {
    font-size: 0.875rem; /* Matches text-sm */
    color: #0A0A0A; /* Matches text-[#0A0A0A] */
  }

  @media(max-width:640px)
  {
    .formInput{
        margin-bottom: 0.8rem;
    }
    .formInput .form-control {
        border: 0.2px solid rgba(10, 10, 10, 0.82);
        height: 40px;
        border-radius: 10px !important;
      }
      .radioMob
      {
        margin-bottom: 0.8rem;
      }
      
  }
  